@tailwind components;
@tailwind base;


@layer components {
  .section {
    @apply w-full h-screen snap-start flex items-center justify-center;
    background-image: url('https://github.com/ChristianParodi/tristimuli/blob/6d2436fb4440de19d72ae4a43e89d4c6d01b39ff/factory.jpg');
  }
  
  .buttonstyle {
    @apply mt-8 px-8 py-3 bg-white text-green-700 font-semibold rounded-full shadow-lg hover:bg-gray-200 transition;
  }
  
  .backgroundwindow {
    @apply bg-mfn_green bg-opacity-80 text-white rounded-lg shadow-lg p-10 text-center flex flex-col items-center justify-center w-full h-full;
  }
}

.snap {
  scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
}

.snap-y {
  --scroll-snap-direction: y;
}

.snap-mandatory {
  --scroll-snap-constraint: mandatory;
}

.snap-start {
  scroll-snap-align: start;
}