@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn_index {
    @apply mt-8 px-10 py-4 bg-green-600 text-white font-semibold rounded-full shadow-xl hover:bg-green-500 transition duration-500;
  }
  .hsection {
    @apply text-4xl font-bold text-gray-800 text-center mb-10;
  }
  .window {
    @apply w-[300px] sm:w-[400px] bg-white p-8 cursor-pointer text-center rounded-lg shadow-lg hover:shadow-2xl transition duration-300;
  }
  .hwindow {
    @apply text-2xl font-semibold text-gray-800 mb-4;
  }

  .pwindow {
    @apply text-gray-600 mb-6;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
}

rect {
  fill-opacity: 0.8;
}

rect:hover {
  fill-opacity: 1;
}

.axis {
  font-size: smaller;
}

.carousel-item {
  position: relative !important;
}